<% provide(:title, 'All users') %>
<h1> All users </h1>

<%= will_paginate %>

<ul class="users">
	<!--fancy refactoring using render, code in partial _user !--> 
	<%= render @users %>
</ul>

<%= will_paginate %>